@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/rocket';
@import '@skeletonlabs/skeleton/optional/presets';

@plugin "@tailwindcss/typography";

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

body {
    font-family: system-ui, sans-serif;
}

:is(h1, h2, h3, h4, h5, h6)
{
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
}

/* Typography */
/* Components: Typography */

.post {
    font-family: system-ui, sans-serif;
    line-height: inherit;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0;
}

.post h1 {
    @apply h1;

    @variant md {
        font-size: var(--text-5xl);
        line-height: var(--text-5xl--line-height);
    }
    @variant dark {
        color: var(--heading-font-color-dark);
    }
}

.post h2 {
    @apply h2;

    @variant md {
        font-size: var(--text-4xl);
        line-height: var(--text-4xl--line-height);
    }
    @variant dark {
        color: var(--heading-font-color-dark);
    }
}

.post h3 {
    @apply h3;

    @variant md {
        font-size: var(--text-3xl);
        line-height: var(--text-3xl--line-height);
    }
    @variant dark {
        color: var(--heading-font-color-dark);
    }
}

.post h4 {
    @apply h4;

    @variant md {
        font-size: var(--text-2xl);
        line-height: var(--text-2xl--line-height);
    }

    @variant dark {
        color: var(--heading-font-color-dark);
    }
}

.post h5 {
    @apply h5;

    @variant md {
        font-size: var(--text-xl);
        line-height: var(--text-xl--line-height);
    }
    @variant dark {
        color: var(--heading-font-color-dark);
    }
}

.post h6 {
    @apply h6;

    @variant md {
        font-size: var(--text-lg);
        line-height: var(--text-lg--line-height);
    }
    @variant dark {
        color: var(--heading-font-color-dark);
    }
}

.post a {
    @apply anchor;

    @variant hover {
        text-decoration: var(--anchor-text-decoration-hover);
    }
    @variant active {
        text-decoration: var(--anchor-text-decoration-active);
    }
    @variant focus {
        text-decoration: var(--anchor-text-decoration-focus);
    }
    @variant dark {
        color: var(--anchor-font-color-dark);
    }
}

.post strong {
    color: inherit;
    @apply font-bold;
}

.post blockquote {
    color: inherit;
    @apply blockquote;
}

.post ::marker {
    color: inherit;
}

.post kbd {
    @apply kbd;
}

.post pre {
    @apply pre;
}

.post code {
    @apply code;
}

/* Prevent ` being shown around code */
.prose {
    & :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::before
    {
        content: '';
    }
    & :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::after
    {
        content: '';
    }
}

/* Insertions / Deletions --- */
/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ins */
/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/del */

.post ins {
    @apply ins;
}

.post del {
    @apply del
}

.post mark {
    @apply mark;
}

.post table {
    @apply table;
}

.post th {
    color: inherit;
}
.post th[align="left"] {
    text-align: left;
}
.post th[align="center"] {
    text-align: center;
}
.post th[align="right"] {
    text-align: right;
}
.post td[align="left"] {
    text-align: left;
}
.post td[align="center"] {
    text-align: center;
}
.post td[align="right"] {
    text-align: right;
}

.post dt {
    color: inherit;
}

.post dd {
    margin-top: 0;
    padding-inline-start: 0;
    opacity: 60%;
}
